.card1{
    margin: auto;
    margin-top: 20px;
    height: 400px;
    width: 450px;
    border: solid;
    background-color:blue;
    border-radius: 10px;
}
.from1{
    margin-top: 10px;
    margin-left: 30px;
}